*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

header{
    padding: 1rem;
}
.flex{
    display: flex;
    justify-content: space-between;
}
section.head-right > img ul{
    justify-content: space-around;
}
ul{
    list-style: none;
}
section.head-right li ,
section.head-left  li {
    margin-right: 2rem;
}

section.head-right img{
    margin-right: 2rem;
}

button{
    background-color: #0058ff;
    color: white;
    border: transparent;
    height: 25px;
    padding: 0.2rem;
}
section.jumbo{
    
    background-color: #9cb4c7;
    margin: 0 auto;
    position: relative;
}

h1{
    font-size: 60px;
    margin-bottom: 2rem;
}
.jumbotron-box{
    width: 70%;
    margin: 0 auto;
}
.jumbotron-box img{
    width: 600px;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.j-right{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    justify-content: space-between;
}
.subscription{
    width: 60%;
    margin: 0 auto;
    padding: 1rem
}
.subscription h2{
    margin: 2rem 0 2rem;
}
div.sub-period{
    display: flex;
}
.sub-period div{
    margin-right: 3rem;
    margin-bottom: 2rem;
}

section.sub-plan{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
div.single,
div.team,
div.agency {
    width: 20%;
    border: 1px solid grey;
}
section.office-contact{
    border: 1px gray solid;
    margin-bottom: 2rem;
}
div.enterprise-offer{
    display: flex;
    flex-direction: column;

}

section.office-contact .box-title {
    text-align: center;
    border: 1px solid gray;
}