*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

header{
    padding: 1rem;
}
.flex{
    display: flex;
    justify-content: space-between;
}
nav.head-right > img ul{
    justify-content: space-around;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 1.2rem;
}

nav.head-right li ,
nav.head-left  li {
    margin-right: 2rem;
}
img#dropbox-logo {
height: 20px;
}

nav.head-right img{
    margin-right: 2rem;
}
nav ul li> a{
    text-decoration: none;
}

button{
    background-color: #0058ff;
    color: white;
    border: transparent;
    height: 25px;
    padding: 0.2rem;
}
section.jumbo{
    
    background-color: #9cb4c7;
    margin: 0 auto;
    position: relative;
}

h1{
    font-size: 60px;
    margin: 3rem 0 3rem;
}
span{
    color: #0a5fff;
    margin-right: 0.2rem;
}
.j-right i{
    font-size: 45px;
}
.jumbotron-box{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.jumbotron-box img{
    width: 700px;
    position: absolute;

}

.j-right{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    justify-content: space-between;
    padding: .5rem 0 .5rem;
}
.j-right p,
.j-right button, 
.j-right a {
    margin-bottom: 1.5rem;
}
.j-right i{
    margin-top: 2rem;
}
.subscription{
    width: 40%;
    margin: 0 auto;
}
.subscription h2{
    margin: 7rem 0 3rem;
    font-size: 35px;
}
article.sub-period{
    display: flex;
}
.sub-period div{
    margin-right: 3rem;
    margin-bottom: 2rem;
}

section.sub-plan{
    display: flex;
    justify-content: space-between;
}
article.single,
article.team,
article.agency {
    width: 31%;
    border: 1px solid grey;
}
#border-title{
    border: 1px solid gray;
    text-align: center;
    padding: .4rem;
    font-size: 80%;
}
nav.buy-now{
    margin: 2rem 0 2rem;
}
.sub-icon{
    font-size: 80%;
    margin-right: .3rem;
}
.cost{
    font-size: 80%;
    margin-bottom: 2.5rem;
}
.user p{
    margin-bottom: 1.5rem;
    font-size: 80%;
}
.plan-line{
    max-width: 20%;
    margin: 2rem 0 2rem;
}

.info-article-padding{
    padding: 2rem;
}
#list-title{
    margin-bottom: 1.5rem;
}
article.office-contact{
    border: 1px gray solid;
    margin: 2rem 0 8rem;
}
div.enterprise-offer{
    display: flex;
    flex-direction: column;
    width: 70%;
}
section.office-contact .box-title {
    text-align: center;
    border: 1px solid gray;
}
section.find-partner{
    display: flex;
    margin-bottom: 6rem;
    justify-content: space-between;
}
img.networking-img{
    width: 60%;
}
div.partner{
    width: 30%;
    margin: 2rem;
}
.partner h4, 
.partner p,
.partner button{
    margin-bottom:  1rem;
}
div.function p,
.partner p {
    font-size: 85%;
}
div.function h4{
    margin-bottom: 1rem;
}
section.drop-business{
    margin-bottom: 5rem;
}
section.drop-business h3{
    margin-bottom: 2rem;
    font-size: 35px;
    
}
div.functionality-dropbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
div.function{
    margin-bottom: 1.5rem;
    width: 30%;
}
div.function img{
    width: 100%;
}

section.usage{
    margin-top: 6rem;
    width: 80%;
}
.usage h3{
    font-size: 35px;
}

section.logos-block{
    display: flex;
}

div.logo-box-right,
div.logo-box-left{
    display: flex;
    flex-wrap: wrap;
    max-width: 35%;
}
div.square{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.square img{
    object-fit: cover;
    width: 40%;
}
div.logo-center{
    max-width:30%;
}
div.logo-center img{
    width: 60%;
}
.logo-center p {
    margin-bottom: 1rem;
}
section.advertising{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0 4rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    background-color: #b4d0e7;
}
section.advertising h3{
    width: 30%;
    font-size: 30px;
    
}
section.advertising button{
    width: 10%;
}


section.questions {
    max-width: 60%;
    margin: 0 auto;
}
.list-question {
    padding: 7rem 0 7rem;
}
.list-question h2{
    margin-bottom: 2rem;
    font-size: 30px;
}
.list-question li{
    margin-bottom: 2rem;
}
footer{
    background-color: black;
}
.foot-nav{
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 3rem;
    padding: 3rem 0 3rem;

}
ul.foot-list{
    display: flex;
    margin: 0 auto;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    width: calc( 100% / 5);
}
ul.foot-list a{
    color: white;
    text-decoration: none;
    font-size: medium;
}
ul.foot-list li > h3{
    font-size: x-large;
}
.last-section{
    width: 70%;
    margin: 0 auto;
    
}
.last-section hr{
    margin-bottom: 2rem;
    width: 10%;
}
.last-section select,
.last-section i{
    border: 0;
    background-color: black;
    color: white;
    font-size: larger;
    margin-bottom: 2rem;
}