*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

header{
    padding: 1rem;
}
.flex{
    display: flex;
    justify-content: space-between;
}
section.head-right > img ul{
    justify-content: space-around;
}
ul{
    list-style: none;
}
section.head-right li ,
section.head-left  li {
    margin-right: 2rem;
}

section.head-right img{
    margin-right: 2rem;
}

button{
    background-color: #0058ff;
    color: white;
    border: transparent;
    height: 25px;
    padding: 0.2rem;
}
section.jumbo{
    
    background-color: #9cb4c7;
    margin: 0 auto;
    position: relative;
}

h1{
    font-size: 60px;
    margin-bottom: 2rem;
}
.jumbotron-box{
    width: 70%;
    margin: 0 auto;
}
.jumbotron-box img{
    width: 600px;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.j-right{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    justify-content: space-between;
}
.subscription{
    width: 60%;
    margin: 0 auto;
    padding: 1rem
}
.subscription h2{
    margin: 2rem 0 2rem;
}
div.sub-period{
    display: flex;
}
.sub-period div{
    margin-right: 3rem;
    margin-bottom: 2rem;
}

section.sub-plan{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
div.single,
div.team,
div.agency {
    width: 20%;
    border: 1px solid grey;
}
section.office-contact{
    border: 1px gray solid;
    margin-bottom: 2rem;
}
div.enterprise-offer{
    display: flex;
    flex-direction: column;

}

section.office-contact .box-title {
    text-align: center;
    border: 1px solid gray;
}
section.find-partner{
    border: 1px solid black;
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
}
img.networking-img{
    width: 60%;
}
div.partner{
    width: 40%;
    margin-top: 2rem;
}
section.drop-business{
    margin-bottom: 5rem;
}
section.drop-business h3{
    margin-bottom: 2rem;
    
}
div.functionality-dropbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;

}
div.function{
    width: 30%;
    margin-bottom: 1.5rem;
}
section.usage{
    margin-top: 6rem;
}

section.logos-block{
    display: flex;
}

section.logo-box-right,
section.logo-box-left{
    width: 25%;
}
section.logo-center{
    width: 50%;
}
footer{
    background-color: black;
}
.footer{
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 3rem;

}
ul.foot-list{
    display: flex;
    margin: 0 auto;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    width: calc( 100% / 5);
}
.last-section{
    width: 70%;
    margin: 0 auto;
    
}
.last-section hr{
    margin-bottom: 2rem;
}